* {
    box-sizing: border-box;
}

:root {
    --form-background: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("./Norse-Bold.otf");
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 15vw 0 15vw;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.image-side-panel {
    width: 25vw;
    height: 100vh;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-side-panel {
    width: 45vw;
    height: 100vh;
    background-color: var(--form-background);
}

.logo-and-name {
    background-color: rgba(26, 25, 25, 0.6);
    height: 20vh;
    margin-top: 20vh;
    color: white;
    display: flex;
    font-size: 10vh;
    justify-content: center;
}

.company-name {
    padding-top: 5vh;
    font-family: "Norse-Bold";
}

.logo-and-name img {
    height: 15vh;
    margin-top: 2.5vh;
}

.photo-credit {
    text-align: center;
    color: white;
    font-size: 2vh;
}

.photo-credit a{
    color: white;
}

.sign-up-form-top {
    box-shadow: 0px 5px lightgray, 0px -2px lightgray;
    padding: 0 50px 20px 50px;
    background-color: white;
}

.sign-up-form-message {
    padding-top: 20px;
}

.disclaimer {
    margin: 100px 50px 50px 50px;
    font-size: 1.5rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form-row label {
    color: rgb(56, 55, 55);
    margin-bottom: 2px;
}

.form-row div {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 20px;
}

.form-row input {
    font-size: 16px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
}

.form-row input:focus {
    outline: none;
    border: 2px solid rgb(12, 12, 195);
    border-radius: 4px;
}

.sign-up-form button {
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1rem;
    background-color: #596D48;
    padding: 10px 35px;
    border-radius: 10px;
}

.already-have-account {
    margin-left: 50px;
    margin-top: 20px;
}

.already-have-account span {
    color: #596D48;
}

input.error {
    border-color: red;
}

